@import url('https://fonts.googleapis.com/css?family=KoHo');

* {
  font-family: 'KoHo', sans-serif;
}

.gridImage {
  height: 250px;
}

img.gridImage.card-img-top {
  object-fit: contain;
}

.gridCard.card.col-md-2 {
  border-radius: 0px;
}

.cellNotActive {
  background-color: whitesmoke;
  color: grey;
}

.navbar.bg-primary {
  border: 0;
}

a.nav-link {
  color: white;
}

a.nav-link:hover {
  color: silver;
}

.text-red {
  color: red;
}

.text-green {
  color: green;
}

/* Delete and Edit */
a.del_btn {
  color: red;
}

a.del_btn:hover {
  color: darkred;
}

a.edit_btn {
    color: forestgreen;
}

a.edit_btn:hover {
    color: darkgreen;
}

/* Results Table */
div#resultScroller {
  height: 50vh;
  overflow-y: auto;
}

/* Jumbo */
div#homeJumboContainer {
  text-align: center;
}

form#jumboForm {
  padding-top: 10px;
  padding-bottom: 10px;
}

#homeJumbo {
  background-image: url('../images/jumbobg.png');
  background-attachment: fixed;
  background-size: cover;
}

div#nothingSelected {
  max-width: 35%;
  border: 1px solid black;
  padding: 50px;
  margin: 0 auto;
}

/* Show Hide Jumbo */
#showHideJumboHome {
  padding-right: 20px;
  padding-top: 10px;
}

/* Session Select Form */
#sessionSelectForm {
  padding: 50px 0;
  /* padding-top: 25px; */
  width: 500px;
  min-height: 250px;
  margin: 0 auto;
}

#sessionSelectBox {
  padding: 100px 0;
}

/* Footer */
#footerVersionNumber {
  font-size: 12px;
}
