@import url('https://fonts.googleapis.com/css?family=KoHo');

* {
  font-family: 'KoHo', sans-serif;
}

.gridImage {
  height: 250px;
}

img.gridImage.card-img-top {
  object-fit: contain;
}

.gridCard.card.col-md-2 {
  border-radius: 0px;
}

.cellNotActive {
  background-color: whitesmoke;
  color: grey;
}

.navbar.bg-primary {
  border: 0;
}

a.nav-link {
  color: white;
}

a.nav-link:hover {
  color: silver;
}

.text-red {
  color: red;
}

.text-green {
  color: green;
}

/* Footer */
#footerVersionNumber {
  font-size: 12px;
}
