@import url('https://fonts.googleapis.com/css?family=KoHo');

* {
  font-family: 'KoHo', sans-serif;
}

.gridImage {
  height: 250px;
}

img.gridImage.card-img-top {
  object-fit: contain;
}

.cellNotActive {
  background-color: whitesmoke;
  color: grey;
}

.navbar.bg-primary {
  border: 0;
}

.debugNav a {
  color: white;
}

.debugNav a:hover {
  color: silver;
}

/* Footer */
#footerVersionNumber {
  font-size: 12px;
}
